body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}
.container {
  display: flex;
  gap: 20px;
}
.card {
  width: 550px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #333;
}
.card input, .card select {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.card input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
.card button {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.calculate-btn {
  background: #104799;
  color: #fff;
}
.calculate-btn:hover {
  background: #0d2d5e;
}
.reset-btn {
  background: #b11222;
  color: #fff;
}
.reset-btn:hover {
  background: #5f0b13;
}
.result {
  font-size: 20px;
  color: #333;
  text-align: left;
}
